<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h2 class="display-3"> Willkommen an der Universitätsbibliothek </h2>
          <p class="lead mt-5 mb-5">
            <a href="https://www.uni-marburg.de/de/ub/ueber-uns/standorte" target="_blank">
              <button class="home-news-btn">Unsere Standorte <i class="fas fa-arrow-right"></i></button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/local/images/unimr-ub_stage_image_sd.jpeg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by Susanne Saker</small>
</div>
